@import "tailwindcss";
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: linear-gradient(rgb(111, 59, 242),rgb(93, 117, 235),rgb(188, 188, 236));
    
  }
/* .c1{
    background-color: rgb(30, 0, 255);

} */
/* button {
   border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit; 
  background-color: green; 
  cursor: pointer;
  transition: border-color 0.25s; 
  
   
}*/





